# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# personal
/.vscode
notes.md

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env
yarn-debug.log*
