.form {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
}

.form-login {
  padding: 20% 30%;
}

.form-login form {
  padding: 35px;
  border: 1px solid #007bff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.submit {
  background: orange;
  border: none;
  border-radius: 0.3em;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 0 1em;
  text-transform: uppercase;
  outline: 0;
}

.content {
}

.messages-list {
  height: calc(100vh - 174px);
  overflow: hidden;
  overflow-y: scroll;
  position: relative;

  border: 1px solid #007bff;
  border-right: none;
  border-radius: 10px;
}

.input-message {
}

.text-area textarea {
  resize: none;
}

.text-area,
.button {
  padding: 0;
}

.Discussion a {
  color: #0690cf;
}

.Discussion-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Discussion-text {
  margin-left: 53px;
}

.Discussion-text a {
  color: #0a8ecd;
}

.Discussion-date {
  margin-left: 5px;
}

.Discussion-date {
  font-size: 15px;
}

.Discussion-date {
  color: #808080;
}

.DiscussionAuthor-avatar {
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 0.5em;
}

.DiscussionAuthor-name {
  color: #556269;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.DiscussionAuthor-name a {
  text-decoration: none;
}

.Discussion.is-second > .Discussion-wrapper {
  margin-left: 45px;
}

.Discussion.is-third {
  background-repeat: no-repeat;
  padding-top: 5px;
}

.Discussion.is-third > .Discussion-wrapper {
  margin-left: 90px;
}

.Discussion.is-shadow > .Discussion-wrapper {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}
